/* Start Variables */
:root {
    --main-color: indianred;
}
/* End Variables */
/* Start global rules */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

header {
    background: var(--main-color);
    box-sizing: border-box;
    padding: 10px;
}

header h1{
    color :white;
    font-size: 2.5rem;
}

header h3 {
    color:white;
    font-size: 1.1rem;
    padding-bottom: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    word-spacing: 10px;
}

/* start app */
#app {
    border : 4px solid var(--main-color);
    margin-top: 40px;
    display:grid;
    background-color: var(--main-color);
    grid-template-columns: 5fr 1fr;
}

#app input {
    outline: none;
    border: none;
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px 10px;
}

#app button {
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    /* color: white;
    background-color: var(--main-color); */
    background-color: white;
    color: var(--main-color);
    border-left: 4px solid var(--main-color);
    transition: 0.5s all;
}
#app button:hover {
    background-color:indianred;
    border-color:indianred;
    color: white;
}
#app button:active {
    background-color:rgb(181, 84, 84);
    border-color:rgb(181, 84, 84);
}
/* END app */

/* habit */

.show-habits {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.habit {
    background-color: var(--main-color);
    color: white;
    overflow: hidden;
    width: 400px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 9px 4px 8px 3px #1c1a1a;
    transition: 1s all;
}

.habit .title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.habit .time{
    color: white;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    position:absolute;
    right: 50%;
    transform: translateX(50%);
    top: 20px;
    padding-top: 5px;
    width: 65px;
    height: 60px;
    background-color: indianred;
    border-radius: 50%;
    transition: 1s all;
}

.habit img{
    width: 100%;
    max-height: 300px;
}

.action-buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    margin-top: 20px;
}

.action-buttons .delete-button{
    text-align: center;
    background-color: indianred;
    color: black;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10px;
    transition: 0.3s all;
    cursor: pointer;
}

.action-buttons .delete-button:hover {
    text-decoration: underline;
    background-color: rgb(185, 87, 87);
}

.action-buttons .restart-button{
    background-color: black;
    margin-right: 10px;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.action-buttons .restart-button:hover {
    color: indianred;
}